{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
